terraform {
[[ with .Terraform.Backend ]]
  backend "[[ .Type ]]" {
    [[ with .Local ]]
    path = "[[ .Path ]]"
    [[ end ]]
  }
[[ end ]]
[[ with .Terraform.Providers.Hcloud ]]
  required_providers {
    hcloud = {
      source  = "hetznercloud/hcloud"
      version = "~> 1.45"
    }
  }
[[ end ]]
}

[[ with .Terraform.Providers.Hcloud ]]
provider "hcloud" {
}
[[ end ]]